@model IEnumerable<masteryBlog.Models.BlogModel>
@{
    ViewBag.Title = "Home";
}
@section slider{
    <div class="bgred">
        <header>
            <h1>Babies having babies</h1>
            <h2>Are you a baby having babies?</h2>
        </header>
    </div>
}
<section id="???">
    <h2>Blog Posts</h2>
    <div id="projects">
        @foreach (var blog in Model)
        {
            <article>
                <a href="/Product/Detail/@blog.Id">
                    <h3>@blog.Title</h3>
                    <p>
                        @blog.Content
                    </p>
                    <p>
                        @blog.Category.CategoryName
                    </p>
                    <p>
                        @blog.PublishDate
                    </p>
                    <p>
                        @blog.Author
                    </p>
                    <p>
                        @blog.Tag.TagName
                    </p>
                </a>
            </article>
        }
    </div>
</section>






